fastapi
uvicorn
sqlalchemy
asyncpg
python-dotenv
pydantic-settings
pydantic[email]
numpy
alembic
psycopg2-binary
pgvector
greenlet
PyJWT
python-multipart
httpx
apscheduler
google-genai
google-auth
firebase-admin
redis
websocket-client
supabase
python-socketio